certifi>=2022.6.15
cycler>=0.11.0
einops>=0.4.1
fancycompleter>=0.9.1
kiwisolver>=1.4.4
matplotlib>=3.4.3
opt-einsum>=3.3.0
pdbpp>=0.10.3
Pillow>=9.2.0
Pygments>=2.10.0
pyparsing>=2.4.7
pyrepl>=0.9.0
python-dateutil>=2.8.2
scipy>=1.7.1
six>=1.16.0
wmctrl>=0.4
jax-fixedpoint>=0.0.4
